{% extends "users/login.html" %}
{% load static %}

{% block title %}用户注册{% endblock %}

{% block head_style %}{{ block.super }}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block hero %}{% endblock %}

{% block formname %}用户注册{% endblock %}

{% block id %}register{% endblock %}

{% block form %}
<form action="" method="post">
    {% csrf_token %}
    
    {% if form.errors %}
    <template>
        <b-message type="is-danger" has-icon auto-close :duration="duration" >
            {{ form.username.errors }}
            {{ form.code.errors }}
            {{ form.password1.errors }}
        </b-message>
    </template>
    {% endif %}
    <b-field label="邮箱" :label-position="labelPosition">
        <b-input type="email" maxlength="30" v-model="email" name="username" placeholder="请输入邮箱"></b-input>
    </b-field>
    <b-field label="验证码" :label-position="labelPosition" grouped>
        <b-input placeholder="请输入验证码" v-model="code" name="code" maxlength="4" type="text" expanded></b-input>
        <p class="control">
            <b-button 
                class="button is-primary is-light"
                :disabled="isdisabled"
                @click="getEmailCode">
                [[ text ]]
            </b-button>
        </p>
    </b-field>
    <b-field label="密码"
            :label-position="labelPosition">
        <b-input type="password" name="password" v-model="password" maxlength="30" placeholder="请输入密码"></b-input>
    </b-field>
    <b-field label="再次输入密码"
            :label-position="labelPosition">
        <b-input type="password" name="password1" v-model="password1" maxlength="30" placeholder="请再次输入密码"></b-input>
    </b-field>
    <input type="hidden" v-model="send_type" name="send_type">
    <div class="buttons">
        <!-- <b-button type="is-primary" @click="getRegister" type="submit" expanded>立即注册</b-button> -->
        <input type="submit" class="button is-primary is-fullwidth" value="立即注册" @click="getRegister">
    </div>
</form>
{% endblock %}

{% block vuebefy %}
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
<script src="{% static 'base/js/request.js' %}"></script>
<script>
    var register = new Vue({
        el: "#register",
        // 修改Vue变量的读取语法，避免与django冲突
        delimiters: ['[[', ']]'],
        data: {
            labelPosition: 'on-border',
            text: "获取验证码",
            isdisabled: false,
            duration: 5000,
            email: '',
            code: '',
            send_type: 'ZC',
            password: '',
            password1: '',
            message:''
        },
        methods: {
            getEmailCode(){
                let sendData = new URLSearchParams();
                // sendData.append('code', 'abcd');
                sendData.append('email', this.email);
                sendData.append('send_type', 'ZC');
                request({
                    url: '/users/email/code/',
                    method: 'post',
                    data: sendData
                }).then(res => {
                    console.log(res);
                    if (res.status == 200 && res.data.code == 412) {
                        // this.sendCode();
                        this.message = res.data.message
                        this.$buefy.toast.open({
                            message: this.message,
                            type: 'is-danger'
                        })
                    } else if (res.status == 200 && res.data.code == 200) {
                        this.sendCode();
                        this.message = res.data.message
                        this.$buefy.toast.open({
                            message: this.message,
                            type: 'is-success'
                        })
                    }
                })
            },

            getRegister(){
                if (!this.email || !this.code || !this.password || !this.password1 ) {
                    this.$buefy.toast.open({
                        message: '全为必填项，不允许为空！',
                        type: 'is-danger'
                    })
                }
            },

            // 倒计时60s
            sendCode() {
                if (this.isdisabled) return;
                this.isdisabled = true;
                let n = 60;
                this.text = "剩余 " + n + "s";
                const run = setInterval(() => {
                    n = n - 1;
                    if (n < 0) {
                        clearInterval(run);
                    }
                    this.text = "剩余 " + n + "s";
                    if (this.text < "剩余 " + 0 + "s") {
                        this.isdisabled = false;
                        this.text = "重新获取";
                    }
                }, 1000);
            }
        },
    })
</script>

{% endblock %}