<!DOCTYPE html>
<html lang="zh-cn">
{% load static %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}My custom Bulma website{% endblock %}</title>
    {% block head %}{% endblock %}  
	<link rel="stylesheet" href="{% static 'base/css/base.css' %}">
	<link rel="stylesheet" href="{% static 'product/css/index-min.css' %}"> 
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% block head_style %}{% endblock %}
</head>

<body>
	<div id="nav">
		<div class="has-background-white has-shadow is-size-14">
			{% include "component/head_top.html" %}
		</div>
		<div class="has-background-primary" >
			{% include "component/nav.html" %}
		</div>
		{% block hero %}
        <section class="hero is-small is-light">
            <div class="hero-body">
            {% block hero-body %}
            <nav class="breadcrumb container" aria-label="breadcrumbs">
				<ul>
				  <li>
					<a href="#">
					  <span class="icon is-small">
						<i class="mdi mdi-home" aria-hidden="true"></i>
					  </span>
					  <span>首页</span>
					</a>
				  </li>
				  {% block breadcrumb %}
				  <li>
					<a href="#">
					  <span>Documentation</span>
					</a>
				  </li>
				  <li>
					<a href="#">
					  <span>Components</span>
					</a>
				  </li>
				  <li class="is-active">
					<a href="#">
					  <span>Breadcrumb</span>
					</a>
				  </li>
				  {% endblock %}
				</ul>
			</nav>
            {% endblock %}
            </div>
        </section>
        {% endblock %}
	</div>
    {% block main %}{% endblock %}
	{% block footer %}{% endblock %}
	{% block extra_foot_style %}{% endblock %}

	{% block vuebefy %}
	<script src="https://unpkg.com/vue"></script>
    <!-- Full bundle -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
	{% endblock %}
	
	<script>
		var username = '{{ user.username }}';
		var userId = '{{ user.id }}'; 
		var cartNum = '{{ cart_count }}';
		var nav = new Vue({
			el: "#nav",
			// 修改Vue变量的读取语法，避免与django冲突
        	delimiters: ['[[', ']]'],
			data: {
				name: username,
				navigation: 'home',
				cartNum: cartNum,
				userId: userId
			},
			methods: {
				// 退出登录确认弹窗
				logout() {
					this.$buefy.dialog.confirm({
						message: '你确定要退出吗？',
						cancelText: '取消',
						confirmText: '确认',
						onConfirm: () => {
							axios.get('/users/logout/').then(() => {
								console.log('ceshi')
								this.$buefy.toast.open('退出成功!')
								setTimeout("window.location.reload()", 2000)
								// window.location.href = '/users/login/';
							})
						}
					})
				},
			},

		})
	</script>

{% block vue_script %}{% endblock %}
</body>

</html>