<!DOCTYPE html>
<html lang="zh-Hans">
{% load static %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}My custom Bulma website{% endblock %}</title>
    {% block head %}{% endblock %}  
	<link rel="stylesheet" href="{% static 'base/css/base.css' %}">
	<link rel="stylesheet" href="{% static 'product/css/index-min.css' %}"> 
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% block head_style %}{% endblock %}
</head>

<body>

	<div id="nav">
		<div class="has-background-white has-shadow is-size-14">
			{% include "component/head_top.html" %}
		</div>
		<div class="has-background-primary" >
			{% include "component/nav.html" %}
		</div>
	</div>
    {% block main %}{% endblock %}
	{% block footer %}{% endblock %}
	{% block extra_foot_style %}{% endblock %}

	{% block vuebefy %}
	<script src="https://unpkg.com/vue"></script>
    <!-- Full bundle -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
	{% endblock %}
	
	<script>
		var nav = new Vue({
			el: "#nav",
			data: {
				navigation: 'home'
			},
			methods: {
				// 退出登录确认弹窗
				logout() {
					this.$buefy.dialog.confirm({
						message: '你确定要退出吗？',
						cancelText: '取消',
						confirmText: '确认',
						onConfirm: () => {
							axios.get('/users/logout/').then(() => {
								console.log('ceshi')
								this.$buefy.toast.open('退出成功!')
								setTimeout("window.location.reload()", 2000)
								// window.location.href = '/users/login/';
							})
						}
					})
				},
			}
		})
	</script>

</body>

</html>