<template>
    <section>
        <b-collapse 
            class="card is-radiusless"
            animation="slide" 
            aria-id="contentIdForA11y3">
            <template #trigger="props">
                <div
                    class="card-header is-radiusless"
                    role="button"
                    aria-controls="contentIdForA11y3">
                    <p class="card-header-title">
                        我的
                    </p>
                    <a class="card-header-icon">
                        <b-icon
                            :icon="props.open ? 'menu-down' : 'menu-up'">
                        </b-icon>
                    </a>
                </div>
            </template>

            <div class="card-content">
                <template>
                    <b-menu accordion>
                      <b-menu-list>
                        <b-menu-item icon="information-outline" label="个人信息"></b-menu-item>
                        <b-menu-item icon="settings" :active="isActive" expanded>
                          <template #label="props">
                            订单信息
                            <b-icon class="is-pulled-right" :icon="props.expanded ? 'menu-up' : 'menu-down'"></b-icon>
                          </template>
                          <b-menu-item icon="account" label="全部订单"></b-menu-item>
                          <b-menu-item icon="cellphone-link">
                            <template #label>
                              订单状态
                              <b-dropdown aria-role="list" class="is-pulled-right" position="is-bottom-left">
                                  <template #trigger>
                                      <b-icon icon="dots-vertical"></b-icon>
                                  </template>
                                  <b-dropdown-item aria-role="listitem">待付款</b-dropdown-item>
                                  <b-dropdown-item aria-role="listitem">待发货</b-dropdown-item>
                                  <b-dropdown-item aria-role="listitem">待收货</b-dropdown-item>
                                  <b-dropdown-item aria-role="listitem">待评价</b-dropdown-item>
                                  <b-dropdown-item aria-role="listitem">已完成</b-dropdown-item>
                                  <b-dropdown-item aria-role="listitem">已取消</b-dropdown-item>
                              </b-dropdown>
                            </template>
                          </b-menu-item>
                          <b-menu-item icon="cash-multiple" label="待发货"></b-menu-item>
                        </b-menu-item>                          
                      </b-menu-list>
                    </b-menu>
                  </template>
            </div>
        </b-collapse>

    </section>
    <section>
        <b-collapse 
            class="card is-radiusless" 
            animation="slide" 
            aria-id="contentIdForA11y3">
            <template #trigger="props">
                <div
                    class="card-header is-radiusless"
                    role="button"
                    aria-controls="contentIdForA11y3">
                    <p class="card-header-title">
                        设置
                    </p>
                    <a class="card-header-icon">
                        <b-icon
                            :icon="props.open ? 'menu-down' : 'menu-up'">
                        </b-icon>
                    </a>
                </div>
            </template>

            <div class="card-content">
                <template>
                    <b-menu accordion>
                      <b-menu-list>
                        <b-menu-item icon="information-outline" label="Info"></b-menu-item>
                        <b-menu-item icon="settings" :active="isActive" expanded>
                          <template #label="props">
                            Administrator
                            <b-icon class="is-pulled-right" :icon="props.expanded ? 'menu-up' : 'menu-down'"></b-icon>
                          </template>
                          <b-menu-item icon="account" label="Users"></b-menu-item>
                          <b-menu-item icon="cellphone-link">
                            <template #label>
                              Devices
                              <b-dropdown aria-role="list" class="is-pulled-right" position="is-bottom-left">
                                  <template #trigger>
                                      <b-icon icon="dots-vertical"></b-icon>
                                  </template>
                                  <b-dropdown-item aria-role="listitem">Action</b-dropdown-item>
                                  <b-dropdown-item aria-role="listitem">Another action</b-dropdown-item>
                                  <b-dropdown-item aria-role="listitem">Something else</b-dropdown-item>
                              </b-dropdown>
                            </template>
                          </b-menu-item>
                          <b-menu-item icon="cash-multiple" label="Payments" disabled></b-menu-item>
                        </b-menu-item>                          
                      </b-menu-list>
                    </b-menu>
                  </template>
            </div>
        </b-collapse>

    </section>
</template>