{% extends "personal/index.html" %}

{% block title %}修改地址 {% endblock %}

{% block menmber %}
<div class="tabs">
    <ul>
      <li class="is-active"><a>修改地址</a></li>
    </ul>
</div>
<form action="" method="post">
    {% csrf_token %}    
    {% for field in form %}
    <div class="field is-horizontal">
        {{ field.errors }}
        <div class="field-label is-normal">
            {{ field.label_tag }}
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                {% if field.widget_type == 'checkbox' %}
                    <label class="checkbox mt-2 is-medium">
                        <input type="checkbox" name="{{ field.html_name }}" id="{{ field.id_for_label }}" {% if field.value %}checked{% endif %}>
                    </label>
                  {% else %}
                  <input type="text" class="input" name="{{ field.html_name }}" value="{{ field.value }}" maxlength="{{ field.field.max_length }}" required="required" id="{{ field.id_for_label }}">
                {% endif %}
                </p>
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
              </div>
        </div>
    </div>
    {% endfor %}

    <input class=" button is-primary is-pulled-right" type="submit" value="保存修改">
    <div class=" is-clearfix"></div>
</form>
{% endblock %}