{% extends 'base.html' %}
{% load static %}
{% block title %}
  购物车
{% endblock %}

{% block breadcrumb %}
<li class="is-active"><a href=""><span>购物车</span></a></li>
{% endblock %}

{% block main %}
<style>
    .table td{
        vertical-align: middle;
    }
</style>
<section class="section" id="cart">
    <div id="data" style="display: none;">{{ carts }}</div>
    <div class="container">
        <div class="box">
            <div class="tabs">
                <ul>
                  <li class="is-active"><a>我的购物车</a></li>
                </ul>
            </div>
            <template>
                <section>
                    <b-table
                        :data="data"
                        ref="table"
                        hoverable
                        :checked-rows.sync="checkedRows"
                        :checkbox-position="checkboxPosition"
                        checkable>
                        <b-table-column field="index" label="序号" width="60" v-slot="props">
                            [[ props.row.index ]]
                        </b-table-column>
                        <b-table-column field="sku__main_picture" width="128" label="商品" centered v-slot="props">
                            <img :src="props.row.sku__main_picture" class="image is-96x96">
                        </b-table-column>
                        <b-table-column field="sku__spu__title" label="" v-slot="props">
                            <a>[[ props.row.sku__spu__title ]] </a> 
                            <p class="has-text-grey mt-2">规格：[[ props.row.sku_options ]]</p>
                        </b-table-column>
                        <b-table-column field="num" label="数量" v-slot="props">
                            <b-numberinput 
                                controls-position="compact" 
                                v-model="props.row.num"
                                size="is-small"
                                type="is-light"
                                min="1"
                                :max="props.row.sku__stocks">
                            </b-numberinput>
                        </b-table-column>
                        <b-table-column field="sku__sell_price" label="单价" v-slot="props" width="100">
                            <span class=" is-size-5 has-text-grey">¥</span> [[ props.row.sku__sell_price ]]
                        </b-table-column>
            
                        <b-table-column label="小计" field="sku_total_price" width="100" v-slot="props">
                            <span class="is-size-5 has-text-grey">¥</span> [[ props.row.sku_total_price ]]
                        </b-table-column>
                        <b-table-column label="操作" field="sku_total_price" v-slot="props">
                            <button class="delete" @click="delCart">删除</button>
                        </b-table-column>
                    </b-table>
                    <div class="box has-text-right has-background-light is-shadowless is-radiusless" >
                        <div class="level">
                            <div class="level-left"></div>
                            <div class="level-right">
                                <div class="level-item">
                                    已选 <span class="is-size-3 has-text-danger-dark" style="position: relative; top:-5px">&nbsp;[[ checkedRows.length ]]&nbsp;</span> 件商品，
                                    合计，不含运费：<span class="is-size-3 has-text-danger-dark" style="position: relative; top:-5px">¥[[ totalPrice|numFilter]]</span>
                                    <button class=" button is-danger ml-4 is-medium">去结算</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </template>
        </div>
    </div>
</section>
{% endblock %}

{% block vuebefy %}{{ block.super }}
<script src="{% static 'base/js/request.js' %}"></script>
    <script>
        const carts = JSON.parse(document.querySelector('#data').innerHTML);
        var cart = new Vue({
            el: '#cart',
            // 修改Vue变量的读取语法，避免与django冲突
            delimiters: ['[[', ']]'],
            data: {
                data: carts,
                checkboxPosition: 'left',
                checkedRows: [],
                totalPrice: 0
            },
            filters: {
                numFilter (value) {
                    let realVal = ''
                    if (!isNaN(value) && value!== '') {
                        // 截取当前数据到小数点后两位
                        realVal = parseFloat(value).toFixed(2)
                    } else {
                        realVal = '-'
                    }
                    return realVal
                }
            },
            created(){
                // 默认的总价
                this.data.forEach(element => {
                    this.totalPrice += Number(element.num) * parseFloat(element.sku__sell_price)
                });
                this.checkedRows = this.data
            },
            watch: {
                // 监听选中数据变化
                checkedRows: {
                    handler: function(val, oldval){
                        this.totalPrice = 0;
                        val.forEach(element => {
                            element.sku_total_price = (element.num * parseFloat(element.sku__sell_price)).toFixed(2)
                            this.totalPrice += element.num * parseFloat(element.sku__sell_price)
                        });
                    },
                    deep: true
                },
                // 监听data数据变化
                data: {
                    handler: function(val, oldval){
                        val.forEach(element => {
                            element.sku_total_price = (element.num * parseFloat(element.sku__sell_price)).toFixed(2)
                        });
                    },
                    deep: true
                },
            },
            methods: {
                // 购物车删除
                delCart(){
                    this.data.forEach((element, i, arr) => {
                        arr.splice(i, 1);
                        if (typeof(this.data[i]) !== 'undefined'){
                            this.data[i].index -= 1; 
                        };
                        let sendData = new URLSearchParams();
                        sendData.append('pk', element.id);
                        request({
                            url: '/product/cart/del/' + element.id +'/',
                            method: 'post',
                            data: sendData
                        }).then(res => {
                            console.log(res)
                        })            
                    });
                }
            }
        })
    </script>
{% endblock %}