{% extends 'base.html' %}
{% block title %}
  购物车
{% endblock %}

{% block breadcrumb %}
<li class="is-active"><a href=""><span>购物车</span></a></li>
{% endblock %}

{% block main %}
<section class="section" id="cart">
    <div id="data" style="display: none;">{{ carts }}</div>
    <div class="container">
        <div class="box">
            <template>
                <section>
                    <b-tabs>
                        <b-tab-item label="Table">
                            <b-table
                                :data="data"
                                :columns="columns"
                                :checked-rows.sync="checkedRows"
                                checkable
                                hoverable
                                :checkbox-position="checkboxPosition">
                                <template #bottom-left>
                                    <b>Total checked</b>: [[checkedRows.length]] 
                                </template>
                            </b-table>
                        </b-tab-item>
            
                        <b-tab-item label="Checked rows">
                            <pre>[[ checkedRows ]] </pre>
                        </b-tab-item>
                    </b-tabs>
                </section>
            </template>
        </div>
    </div>
</section>
{% endblock %}

{% block vuebefy %}{{ block.super }}
    <script>
        const data = JSON.parse(document.querySelector('#data').innerHTML);
        console.log(data)
        var cart = new Vue({
            el: '#cart',
            // 修改Vue变量的读取语法，避免与django冲突
            delimiters: ['[[', ']]'],
            data: {
                data,
                checkboxPosition: 'left',
                checkedRows: [],
                columns: [
                    {
                        field: 'id',
                        label: 'ID',
                        width: '40',
                        numeric: true
                    },
                    {
                        field: 'sku__main_picture',
                        label: '商品',
                    },
                    {
                        field: 'sku__spu__title',
                        label: '标题',
                    },
                    {
                        field: 'sku__sell_price',
                        label: '价格',
                    },
                    {
                        field: 'num',
                        label: '数量',
                        centered: true
                    },
                    
                ]
            }
        })
    </script>
{% endblock %}